body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto;
	background-attachment: fixed;
}

h2 {
	text-align: center;
}

#Search {
	background: rgba(104, 104, 104, 0.5);
	padding: 10px;
	padding-bottom: -8px;
}

#content {
	margin: 10px;
	padding: 18px;
}

div.form-group {
	margin-top: 16px;
}

ul.ul {
	list-style: none;
	margin-left: -52px;
	margin-right: -12px;
	margin-bottom: -15px;
}

ul > li {
	list-style: none;
}

li.white {
	color: white;
}

li.dontshow {
	visibility: hidden;
}

#techsupport {
	margin-bottom: -8px;
}

span.font1 {
	color: white;
	font-size: 15px;
	font-family: sans-serif;
}

span.red {
	color: red;
}

span.black {
	color: black;
	font-weight: bolder;
	font-size: 23px;
	font-family: monospace;
}

span.radiofont {
	color: white;
	font-size: 13px;
}

#Seperate {
	background-color: white;
	font-weight: bold;
}

#Result {
	margin-top: 20px;
}

.nav-tabs > li > a {
	background-color: white;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: white;
    background-color: #337ab7;  
} 

#clearbtn {
	width: 88px;
	margin-left: 5px;
}

#foreheader {
	background: rgba(242, 126, 127, 1.0);
}

#pic {
	display: block; 
	margin: auto; 
	margin-top:8px;
}

#temp {
	font-size: 60px;
	font-weight: bolder;
}

#tempSpan {
	float: top;
	bottom: 40px;
	float: top;
}

#lowtemp {
	color: blue;
}

#hightemp {
	color: green;
}

#facebook {
	float: right; 
	position: relative; 
	bottom:6px;
}
